@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


:root{
    /* Pad Theme -- */
    --pad_color1: #000000;
    --pad_color2: #242638;
    --pad_color3: #525375;
    --pad_color4: #8a88bb;
    --pad_color5: #cac3ff;

    /* Water Theme -- */
    --water_color1: #002f48;
    --water_color2: #002f48;
    --water_color3: #00687e;
    --water_color4: #0096a0;
    --water_color5: #00d1c2;

    /* Sophisticated Theme -- */
    --sophisticated_color1: #5d5c61;
    --sophisticated_color2: #379683;
    --sophisticated_color3: #7395ae;
    --sophisticated_color4: #557a95;
    --sophisticated_color5: #b1a296;

    /* Striking Theme -- */
    --striking_color1: #0b0c10;
    --striking_color2: #1f2833;
    --striking_color3: #c5c6c7;
    --striking_color4: #66fcf1;
    --striking_color5: #45a29e;

    /* Clean Theme -- */
    --clean_color1: #17252a;
    --clean_color2: #2b7a78;
    --clean_color3: rgb(59, 176, 170, 0.5);
    --clean_color4: #def2f1;
    --clean_color5: #feffff;

    /* Flat Theme -- */
    --flat_color1: #00887a;
    --flat_color3: #ffffff;
    --flat_color4: #d3e3fc;
    --flat_color5: #77a6f7;

    /* More variables */
    --box-shadow: 0.3em 0.3em 0.3em rgb(0, 0, 0,0.1);
    --border-radius: 5px;

}

*{ 
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* general styles */

img{
    width: 100%;
    border-radius: var(--border-radius);
}

html{
    scroll-behavior: smooth;
}

body{
    margin-top: 50px;
}

nav a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}


/* Navigation bar */

nav{
    top:0;
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 1;
    transition: 400ms ease;
}

.menu_open, .menu_close{
    display: none;
}


.win_scroll{
    background-color: white;
}

.nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;

}

nav .menu_open, .menu_close{
    background-color: transparent;
}

.nav_container ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

h3 span, h1 span{
    color: gray;
    font-weight: bold;
}


/* Main Section */

main{
    margin: 5px 5px 5px 5px;
}

/* Welcome Section */
  section .welcome_section{
    color: white;
    font-weight: bold;
    position: relative;
    display: flex;
    background-image: url(img/nordwood-themes-bJjsKbToY34-unsplash.jpg);
    background-position: center;
    background-size: 100%;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
  }

.welcome_section::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
}

.welcome_section h1{
    position: relative;
}

/* About us Section*/
section .about_us{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, p,h4{
    text-align: center;
}

/* Services Section */
section .services_div{
    display: flex;
    margin-right: 1.1em;
    gap:1em;
}


.service{
    position: relative;
    height: fit-content;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 100%;
    padding-bottom: 40px;
}

.service p{
    margin-bottom: 2em;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 800ms ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}


.service .service_btn{
    position: absolute;
    bottom: 20px;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 5px;

}

/* Contact Us */

.form_details{
    border-radius: 5px;
    background-color: var(--pad_color1);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-around;
}

form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

form input{
    padding: 10px;
    border-radius: var(--border-radius);
    border: none;
}

form textarea{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    resize: none;
}

form input[type="submit"]{
    background-color: var(--striking_color4);
    color: black;
    font-weight: bold;
}


.google_map{
    margin: 10px;
}
.google_map iframe {
    border-radius: var(--border-radius);
    max-width: 100%;
    left: 0;
    top: 0;
}

/* Footer */
footer{
    font-size: small;
    color: white;
    background-color: black;
}

footer h2{
    margin-bottom: 10px;
    font-weight: bold;
}

footer h4{
    text-align: start;
}

footer li{
    margin-bottom: 10px;
}

footer a{
    color: white;
}

.footer_container{
    padding: 1em;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
}

.footer_socials ul{
    margin-top: 1em;
    display: flex;
    gap: 1em;
}

.footer_copyright{
    text-align: center;
    margin-top: 4em;
    border-top: 1px solid rgb(255, 255, 255, 0.1);
    padding: 2em 0;
}


/* Media Queries */

@media screen and (max-width: 1024px){

    section .services_div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    .nav_container ul{
        width: 15em;
        position: fixed;
        flex-direction: column;
        background-color: white;
        color: black;
        top: 3.5em;
        right: -300px;
    }

    .nav_menu{
        border-radius: var(--border-radius);
        transition: 400ms ease;
    }

    .trans{
        transform: translateX(-310px);
    }

    .menu_open{
        display: block;
    }
    
    .nav_menu li{
        width: 100%;
        height: 3em;
    }

    .nav_menu li a{
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }


    .form_details{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_container{
        padding: 1em;
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width: 600px){
    section .services_div{
        display: grid;
        grid-template-columns: 1fr;
        
    }

    .form_details{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_container{
        padding: 1em;
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer_socials{
        flex-direction: column;
        display: flex;
        align-items: center;
    }

}